
<h2>New book</h2>

<%= form_for(@book) do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
<div class="form-group">  
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div class="form-group">        
<%= f.label :opinion %>
<%= f.text_area :content %>
</div>

<%= f.submit "Create Book", class: "btn-primary" %>

<% end %>